<app-navbar></app-navbar>
<br/><br/>
<div class="container">
    <app-dictator-editor id="a"></app-dictator-editor>
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">
                    <a class="btn" href="profile">Fullname's Profile</a>
                    <button class="btn bi bi-pencil float-end"></button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="../../../assets/profile-image.jpg" class="rounded float-left" style="width: 100%;">
                        </div>
                        <div class="col-lg-8">
                            <h5>About</h5>
                            <p>Hence, legal documents are being crafted which take me completely out of business operations</p>
            
                        </div>
                    </div>
                    <app-tweet></app-tweet>
                </div>
            </div>
        </div>
    </div>
</div>
