<div class="container">

  <h1 class="mt-4">Trumps Tweets</h1>
  <div class="container">
    <h4>Filter</h4>
    <h6 class="btn text-primary" (click)="tweetFilter = 0">Show all</h6>
    <h6 class="btn text-primary" (click)="tweetFilter = 1">Show all where month is September and likes > 100000</h6>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Message</th>
        <th>Date</th>
        <th>Likes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tweet of trumpTweetService.getTweetsBasedOnFilter(tweetFilter)">
        <td *ngIf="tweet.text.indexOf('Democrat') != -1" style="background-color: rgb(203, 255, 209)">{{ tweet.text | textCensor:["garbage", "lose", "dumb", "hate", "fake", "democrat"]}}</td>
        <td *ngIf="tweet.text.indexOf('Democrat') == -1" style="background-color: rgb(255, 203, 209)">{{tweet.text | textCensor:["garbage", "lose", "dumb", "hate", "fake", "democrat"]}}</td>
        <td>{{tweet.date}}</td>
        <td>{{tweet.likes}}</td>
      </tr>
    </tbody>
  </table>
</div>