<div class="card mb-3">
    <div class="card-header" *ngIf="selectedDictatorName == ''">
        <span class="btn">Create dictator</span>
    </div>
    <div class="card-header" *ngIf="selectedDictatorName != ''">
        <span class="btn">Update dictator</span>
        <button class="btn bi bi-trash float-end" (click)="dictatorService.deleteDictator(selectedDictatorName); selectedDictatorName = ''"></button>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label class="form-label">First name</label>
                    <input type="text" class="form-control" placeholder="Enter first name" [(ngModel)]="dictator.firstName">
                </div>
                <div class="form-group">
                    <label class="form-label mt-2">Last name</label>
                    <input type="text" class="form-control" placeholder="Enter last name" [(ngModel)]="dictator.lastName">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label class="form-label">Description</label>
                    <textarea type="text" class="form-control" rows="4" placeholder="Enter description..." style="resize: none;" [(ngModel)]="dictator.description"></textarea>
                </div>
            </div>
        </div>
        <div class="mt-3 float-end">
            <button *ngIf="selectedDictatorName == ''" class="btn btn-primary me-2" (click)="dictatorService.createDictator(dictator); selectedDictatorName = ''">Create Dictator</button>
            <button *ngIf="selectedDictatorName != ''" class="btn btn-danger me-2" (click)="selectedDictatorName = ''">Cancel</button>
            <button *ngIf="selectedDictatorName != ''" class="btn btn-primary me-2" (click)="dictatorService.updateDictator(selectedDictatorName, dictator); selectedDictatorName = ''">Update Dictator</button>
        </div>
    </div>
  </div>