<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">      
      <i class="col-sm bi bi-twitter" style="color: rgb(110, 212, 255);"></i>
    </a>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Dictators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create dictator</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br/>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="bs-component">
        <div class="card mb-4" >
          <div class="card-header">Fullname's description</div>
          <div class="card-body">
            <p>Hence, legal documents are being crafted which take me completely out of business operations. The Presidency is a far more important task!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-3">
        <div class="card-header">Tweets</div>
        <div class="card-body">
          <h6>Fullname 11/15/2022 11:56</h6>
          <div class="card mb-3" style="background-color: rgb(245, 249, 252);">
            <div class="card-body">
              <p class="card-text">
                State Treasurer John Kennedy is my choice for US Senator from Louisiana. Early voting today; election next Saturday
              </p>
            </div>
          </div>
          <div class="row">
            <i class="col-sm bi bi-chat-left-text"></i>
            <i class="col-sm bi bi-arrow-repeat"></i>
            <i class="col-sm bi bi-suit-heart"></i>
            <i class="col-sm bi bi-upload"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>