<form [formGroup]="dictatorForm">
  <div class="container">
    <h1 class="mt-4">Dictators</h1>
    <div class="row">
      <div class="col-sm">
        <div class="bs-component">
          <div class="card border-danger mb-4" >
            <div class="card-header">Add dictator</div>
            <div class="card-body">
              <label class="col-form-label">First name:</label>
              <input class="form-control" type="text" formControlName = "firstName"/>
              <label class="col-form-label">Last name:</label>
              <input class="form-control" type="text" formControlName = "lastName"/>
              <label class="col-form-label">Year of birth:</label>
              <input class="form-control" type="number" formControlName = "yearOfBirth"/>
              <label class="col-form-label">Year of death:</label>
              <input class="form-control" formControlName = "yearOfDeath" type="number"/>
              <label class="col-form-label">Description:</label>
              <input class="form-control" type="text" formControlName = "description"/>
              <input class="form-control mt-2" type="button" value="Add" (click)="addDictator()">
              <br/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="bs-component">
          <div class="card border-danger mb-4" >
            <div class="card-header">Dictator list</div>
            <div class="card-body">
              <label class="col-form-label">Dictators:</label>
              <select class="form-control" Size="16" multiple="multiple" formControlName="dictatorList" (change)="selectedDictatorChanged()">  
                <option *ngFor="let dictator of dictatorService.dictators">{{dictator.firstName}}-{{dictator.lastName}}</option>  
              </select>  
              <input class="form-control mt-2" type="button" value="Remove" (click)="removeDictator()">
              <br/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="bs-component">
          <div class="card border-danger mb-4" >
            <div class="card-header">Selected dictator</div>
            <div class="card-body">
              <h6>First name: {{ selectedDictator?.firstName}}</h6>
              <h6>Last name: {{ selectedDictator?.lastName}}</h6>
              <h6>Year of birth: {{ selectedDictator?.yearOfBirth}}</h6>
              <h6>Year of death: {{ selectedDictator?.yearOfDeath}}</h6>
              <h6>Description: {{ selectedDictator?.description}} </h6>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
