<app-navbar></app-navbar>
<br/><br/>
<div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="card mb-4" >
            <div class="card-header">
              <span class="btn">
                {{dictator.firstName}} {{dictator.lastName}}'s description
              </span></div>
            <div class="card-body">
              <p>{{dictator.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-3">
          <div class="card-header">
            <span class="btn">Tweets</span>
          </div>
          <app-tweet></app-tweet>
        </div>
      </div>
    </div>
  </div>