<app-navbar></app-navbar>
<br/><br/>
<div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="card mb-4" >
            <div class="card-header">Fullname's description</div>
            <div class="card-body">
              <p>Hence, legal documents are being crafted which take me completely out of business operations. The Presidency is a far more important task!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-3">
          <div class="card-header">Tweets</div>
          <app-tweet></app-tweet>
        
        </div>
      </div>
    </div>
  </div>